*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
    background-size: 100%;
    background-position: center;
    font-family: 'Lato', sans-serif;
}
nav{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}
nav .logo{
    margin-left: 150px;
    display: flex;
    align-items:center;
}
nav ul{
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%; 
    list-style: none;
}
nav ul li {
    font-size:25px;
    font-weight:300;
}
/* nav ul li a{

    transition: color 1s, border 0.5s
}
nav ul li a:hover{
    color: orange;
    border-bottom: 2px solid orange;
    transition: color 0.75s, border 0.25s
} */
a{
    color: white;
    text-decoration: none !important;
}
nav .logo img{
    width: 100px;
    height: 100px;
}
.nav_intro{
    width: 50%;
    position:absolute;
    left:15%;
    top: 40%;
}
.nav_intro p {
    color:white;
    font-size: 48px;
    white-space: 2px;
    letter-spacing:2px;
    margin-bottom: 30px;
}
.nav_intro a {
    padding: 10px 15px;
    border-radius: 30px;
    font-size:20px;
    border: 2px solid orange;
    transition: background 0.25s, color 0.5s
}
.nav_intro a:nth-child(3){
    margin-left: 25px;
    color: orange;
}
.nav_intro a:nth-child(2){
    background: orange;
    color: white !important;

}
.nav_intro a:nth-child(2):hover{
    background: transparent;
    color: orange;
    transition: background 0.25s, color 0.5s
}
.nav_intro a:nth-child(3):hover{
    color: white;
    background: orange;
    transition: background 0.25s, color 0.5s
}


.title{
    font-size: 38px;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    white-space: 0.5px;
    letter-spacing: 0.5px;
}
.title::after{
    content: " ";
    width: 120px;
    height:2px;
    background:orange;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}
.intro p:nth-child(2){
    color: gray;
    font-size: 20px;
    text-align: center;
}
.part_2 .detail{
    margin-top: 50px;
    color: gray;
    opacity: 0.9;
}
.part_2 .detail .row .item{
    padding: 15px 25px;
}
.part_2 .detail .row .item i{
    color: orange;
    font-size: 50px;
    margin-bottom: 15px;
}
.part_2 .detail .row .item div{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 5px;
    
}
.part_2 .detail .row .item p{

    font-size: 18px;
}


.part_3 ul{
    list-style: none;
    padding: 0px !important;
}
.part_3 ul li{
    width: 25%;
    float:left ;
    overflow: hidden;
}
.part_3 ul li img{
    width: 100%;
    height:auto;
    transform: scale(1.15);
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;
    cursor: pointer;

}
.part_3 ul li img:hover{
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}

